{% load static %}

<!--- JQuery min js --->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>

<!--- Datepicker js --->
<script src="{% static 'plugins/jquery-ui/ui/widgets/datepicker.js' %}"></script>

<!--- Bootstrap Bundle js --->
<script src="{% static 'plugins/bootstrap/popper.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>

<!--- Ionicons js --->
<script src="{% static 'plugins/ionicons/ionicons.js' %}"></script>

<!--- Chart bundle min js --->
<script src="{% static 'plugins/chart.js/Chart.bundle.min.js' %}"></script>

<!--- JQuery sparkline js --->
<script src="{% static 'plugins/jquery-sparkline/jquery.sparkline.min.js' %}"></script>

<!--- Internal Sampledata js --->
<script src="{% static 'js/chart.flot.sampledata.js' %}"></script>

<!--- Eva-icons js --->
<script src="{% static 'js/eva-icons.min.js' %}"></script>

<!--- Moment js --->
<script src="{% static 'plugins/moment/moment.js' %}"></script>

<!--- Perfect-scrollbar js --->
<script src="{% static 'plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'plugins/perfect-scrollbar/p-scroll.js' %}"></script>

<!--- Sidebar js --->
<script src="{% static 'plugins/side-menu/sidemenu.js' %}"></script>

<!--- sticky js --->
<script src="{% static 'js/sticky.js' %}"></script>

<!-- right-sidebar js -->
<script src="{% static 'plugins/sidebar/sidebar.js' %}"></script>
<script src="{% static 'plugins/sidebar/sidebar-custom.js' %}"></script>

<!-- Morris js -->
<script src="{% static 'plugins/raphael/raphael.min.js' %}"></script>
<script src="{% static 'plugins/morris.js/morris.min.js' %}"></script>

<!--- Scripts js --->
<script src="{% static 'js/script.js' %}"></script>

<!--- Index js --->
<script src="{% static 'js/index.js' %}"></script>

<!--themecolor js-->
<script src="{% static 'js/themecolor.js' %}"></script>

<!--swither-styles js-->
<script src="{% static 'js/swither-styles.js' %}"></script>

<!--- Custom js --->
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>

